
<section><%= partial 'includes/intro' %></section>

<section><%= partial 'includes/home' %></section>

<section><%= partial 'includes/buttons' %></section>

<section><%= partial 'includes/type' %></section>

<section><%= partial 'includes/forms' %></section>

<section><%= partial 'includes/grid' %></section>

<section><%= partial 'includes/lists' %></section>

<section><%= partial 'includes/tables' %></section>

<section><%= partial 'includes/misc' %></section>